{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    <h1 class="text-center border border-dark bg-dark rounded m-2 p-2 text-white">Administration des aliments</h1>
    <a href="{{path('admin_aliments_creation')}}" class="btn btn-success">Ajouter</a>
    <table class="table">
        <tr class="table-primary">
            <td>Image</td>
            <td>Aliments</td>
            <td>Type</td>
            <td>Prix</td>
            <td>Calories</td>
            <td>Protéines</td>
            <td>Glucides</td>
            <td>Lipides</td>
            <td>Actions</td>
        </tr>
        {% for aliment in aliments %}
            <tr>
                <td style="width: 10%;"><img src="{{asset('images/aliments/' ~ aliment.image)}}" class="perso_imgAliment" alt="{{aliment.nom}}"></td>
                <td class="align-middle"><strong>{{aliment.nom}}</strong></td>
                <td class="align-middle"><strong>{{aliment.type.libelle}}</strong></td>
                <td class="align-middle">{{aliment.prix}}</td>
                <td class="align-middle">{{aliment.calorie}}</td>
                <td class="align-middle">{{aliment.proteine}}</td>
                <td class="align-middle">{{aliment.glucide}}</td>
                <td class="align-middle">{{aliment.lipide}}</td>
                <td class="align-middle">
                    <a href="{{path('admin_aliments_modification', {'id': aliment.id})}}" class="btn btn-secondary">Modifier</a>
                    <form method="POST" onsubmit="return confirm('Confirmer la suppression ?')" style="display:inline-block" action="{{path('admin_aliments_suppression', {'id' : aliment.id})}}">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ aliment.id)}}">
                        <input type="submit" class="btn btn-danger" value="supprimer">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
